In [2]:
import configparser
import tweepy
import pandas as pd
import pip
import re
import io
import csv
import numpy as np
import json
from azure.storage.blob import BlobClient

In [11]:
#cmd /c "pip install azure-storage-blob pandas numpy tweepy"

In [12]:
#!pip3 install azure-storage-blob

In [3]:

# config = configparser.ConfigParser()
# config.read('venv/config.ini')

# api_key = config['twitter']['api_key']
# api_key_secret = config['twitter']['api_key_secret']

# access_token = config['twitter']['access_token']
# access_token_secret = config['twitter']['access_token_secret']

api_key = "haRYjJxU7W4QgFna7ixmOG6AH"
api_key_secret = "eDdTSUwD38auxiWz8acsIZI0pb53H7fJKDn1dtctBg2C3eweMO"

access_token = "1582810070458331136-nmw6T5zanyDMEVtcXs7XmwF4fASz0B"
access_token_secret = "26hPMFiOClj1TBSgUvyg7OPkLFGF8rpgkmjj0hy3xfiES"

In [4]:
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [5]:
connectionString = "DefaultEndpointsProtocol=https;AccountName=storageaccountsindhu;AccountKey=rAutmbrwSu9NpeQfG67RAIyxZNuEgKx+NxF2kYYqWk+Nrt42+DPnwMVj2UX/5e9Hs0I8cryRC/Ry+ASt0xpEbA==;EndpointSuffix=core.windows.net"
containerName = "tweetblob/output"
outputBlobName	= "twitterheader.csv"

blob = BlobClient.from_connection_string(conn_str=connectionString, container_name=containerName, blob_name=outputBlobName)

In [6]:
query = 'arsenal'

In [7]:
# Twitter Header data arrays:
tweet_id = np.empty((0,), dtype=str)
twitter_handle = np.empty((0,), dtype=str)
parent_tweet_id = np.empty((0,), dtype=str)
tweet = []
tweet_time = []
location = []

# Twitter User data arrays:
user_name = []
profile_img_url = []
description = []
follower_count = []
following_count = []
joined_on = []

#hashtags
hashtags = []

In [8]:

tweets = tweepy.Cursor(api.search_tweets, q=query, lang='en').items(100)
for status in tweets:
    
    user_name = np.append(user_name, status.user.name)
    profile_img_url = np.append(profile_img_url, status.user.profile_image_url)
    description = np.append(description, status.user.description)
    follower_count = np.append(follower_count, status.user.followers_count)
    following_count = np.append(following_count, status.user.friends_count)
    joined_on = np.append(joined_on, status.user.created_at)
    
    tweet_id = np.append(tweet_id, status.id)
    twitter_handle = np.append(twitter_handle, status.user.id)
    parent_tweet_id = np.append(parent_tweet_id, status.in_reply_to_status_id)
    tweet = np.append(tweet, status.text)
    tweet_time = np.append(tweet_time, status.created_at)
    location = np.append(location, status.user.location)
    
    hashtags = np.append(hashtags, status.entities["hashtags"])

In [31]:
twitter_header = pd.DataFrame({'tweet_id': tweet_id, 'twitter_handle': twitter_handle, 'parent_tweet_id': parent_tweet_id, 'tweet': tweet, 'tweet_time': tweet_time, 'location': location})

twitter_header = twitter_header.astype({"parent_tweet_id": str})

In [39]:
pd.set_option('display.max_rows', None)
twitter_header

,tweet_id,twitter_handle,parent_tweet_id,tweet,tweet_time,location
0,1645849572864819200,1306709767,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:31+00:00,"London, England"
1,1645849572223115264,1431277829241585672,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:31+00:00,
2,1645849558436700160,879501314404659201,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:27+00:00,"Los Angeles, CA"
3,1645849558432337925,82608726,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:27+00:00,
4,1645849557140488193,1631335617064837122,1645809973501497344,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:27+00:00,"Manchester, England"
5,1645849547611176960,3284291892,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:25+00:00,
6,1645849545186873345,1631714887587049472,1645822247381106693,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:24+00:00,
7,1645849536231886855,1149434383910223872,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:22+00:00,L Tizzy
8,1645849535590309888,2544404447,1645824778182197248,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:22+00:00,
9,1645849535355273217,1486799770307997705,1645824778182197248,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:22+00:00,"Bristol, England"
10,1645849533719494656,1322929768753364993,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:21+00:00,United Kingdom
11,1645849533501562880,2835499934,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:21+00:00,BLR/NYC
12,1645849531886587907,1382018183851347977,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:21+00:00,Juja
13,1645849530972229644,21726275,1645848896500015106,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:21+00:00,MKE by way of CHI
14,1645849528468135936,237803487,1645817050013523968,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:20+00:00,"Toronto, Ontario"
15,1645849521258110977,1382018183851347977,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:18+00:00,Juja
16,1645849518099910658,1474094628924235782,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:18+00:00,
17,1645849510340448265,1021098375679299585,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:16+00:00,
18,1645849507374964739,85562461,1645797478103683074,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:15+00:00,surrey north downs
19,1645849506544533506,1059163988779548674,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:15+00:00,"North Carolina, USA"
20,1645849506519437320,1271339249485348864,1645849327309410319,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:15+00:00,"Philadelphia, PA"
21,1645849495530360832,4881431439,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:12+00:00,"Pencoed, Wales"
22,1645849494796247041,550927032,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:12+00:00,
23,1645849485514362883,1530657343054168066,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:10+00:00,
24,1645849481752072193,134421450,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:09+00:00,great twittain
25,1645849458666528771,1138351619542835200,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:04+00:00,East sussex
26,1645849458133827584,1128950490719490049,1645840616465498153,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:03+00:00,
27,1645849454908526615,20710218,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:03+00:00,"Secaucus, NJ"
28,1645849454094831635,1019523456080195584,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:02+00:00,
29,1645849452891066374,1460551048322502660,1645812599005782019,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:02+00:00,
30,1645849448461869056,786330695849304064,1645842846878924828,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:01+00:00,Everywhere
31,1645849444015800322,18801944,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:00+00:00,North-West London
32,1645849443579711501,116729547,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:00+00:00,"Manchester, England"
33,1645849441906184202,1556526003442401280,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:01:00+00:00,
34,1645849440274780160,99060991,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:59+00:00,"Jakarta, Indonesia"
35,1645849438487990272,1602028315749093376,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:59+00:00,"Nairobi, Kenya"
36,1645849437921595397,4581903796,1645846129345540096,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:59+00:00,
37,1645849432951324672,1641837306750304257,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:57+00:00,India
38,1645849428769554432,1307234226102730752,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:56+00:00,
39,1645849425128955905,1382018183851347977,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:56+00:00,Juja
40,1645849423484792832,1295486847469195264,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:55+00:00,
41,1645849421270196224,1159155747630043137,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:55+00:00,Uganda
42,1645849415993769985,818969899,1644959225741815808,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:53+00:00,
43,1645849411501604864,3045921751,1645848194541035520,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:52+00:00,
44,1645849410037862409,1445335393906446339,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:52+00:00,"Meru, Kenya"
45,1645849403603800082,1426525101164568582,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:50+00:00,"Lisboa, Portugal"
46,1645849400864919582,1264821227610419201,1645774250567950338,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:50+00:00,"Newcastle Upon Tyne, England"
47,1645849400349020161,1331215011440680962,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:50+00:00,
48,1645849398608375810,1554093370020188160,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:49+00:00,"Federal Capital Territory, Nig"
49,1645849391788445707,1051112776666685440,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:48+00:00,
50,1645849386843250689,2269577839,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:46+00:00,Newcastle upon Tyne
51,1645849386394562562,311399216,1645711482326249472,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:46+00:00,"Mwanza, Tanzania"
52,1645849383043321872,355451873,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:45+00:00,"Victoria Island, Nigeria"
53,1645849378802761729,1558841093151653888,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:44+00:00,"Lagos, Nigeria"
54,1645849376072388608,2157315147,1645829938606374918,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:44+00:00,
55,1645849369915138053,1384254864822214660,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:42+00:00,
56,1645849362705051648,949750584831340544,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:41+00:00,Mutare
57,1645849362340126720,815548184,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:41+00:00,Abuja
58,1645849356837310476,300751124,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:39+00:00,Liverpool
59,1645849355298000914,1007195975411228672,1645848593436164097,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:39+00:00,
60,1645849353175572480,1292862237623885825,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:38+00:00,
61,1645849352814960640,754199966,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:38+00:00,Santo domingo
62,1645849348503228437,1568689336312385537,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:37+00:00,"London, England"
63,1645849348100575249,17933339,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:37+00:00,lima
64,1645849345852428294,1486109704388587526,1645847155490410512,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:37+00:00,North london
65,1645849340949286925,217944609,1645848408115105800,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:35+00:00,"Upper East Side, Block 114"
66,1645849340722937856,1638422174,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:35+00:00,
67,1645849339904905223,1556526003442401280,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:35+00:00,
68,1645849338193629185,75342973,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:35+00:00,London
69,1645849333537861634,1558216411297742853,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:34+00:00,"Abuja, Nigeria"
70,1645849332501958672,296384911,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:33+00:00,"Nairobi, Kenya"
71,1645849331243667458,796526355471073280,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:33+00:00,"Washington, DC"
72,1645849330669047829,1631351966369472527,1645845733126418432,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:33+00:00,
73,1645849329117302785,758350210783338496,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:33+00:00,"Old Trafford, Manchester"
74,1645849327309410319,1271339249485348864,1645846194206175232,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:32+00:00,"Philadelphia, PA"
75,1645849326957088780,1427314128142675982,1645811992480088065,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:32+00:00,"Donaghadee, Northern Ireland"
76,1645849325904306176,39347949,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:32+00:00,Sheffield
77,1645849322439733248,1134864202508767232,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:31+00:00,
78,1645849320648855558,4083458907,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:31+00:00,"Nairobi, Kenya"
79,1645849317016576003,1149614336131776513,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:30+00:00,SAGAMIAN
80,1645849313057054720,1434932429941260289,1645848429522743298,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:29+00:00,France
81,1645849309223501824,1477253072900534279,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:28+00:00,ROOM 8
82,1645849307843645444,1193987906806923266,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:28+00:00,"London, England"
83,1645849301896122379,865609816403791872,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:26+00:00,United Kingdom
84,1645849301497651203,1515388836754432002,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:26+00:00,
85,1645849295243952128,1556526003442401280,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:25+00:00,
86,1645849294094708738,1547492167777746944,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:24+00:00,"Los Angeles, CA"
87,1645849294035996673,1596961907486998529,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:24+00:00,
88,1645849293394268168,960213554031923202,1645820962053423105,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:24+00:00,
89,1645849293180518400,166704696,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:24+00:00,L.A.
90,1645849290600861697,2904271587,1645847899694153728,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:23+00:00,"Memphis, TN"
91,1645849288856027137,754199966,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:23+00:00,Santo domingo
92,1645849288193318913,1466493618932363270,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:23+00:00,
93,1645849277346861058,1028312395326926848,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:20+00:00,"Kumasi, Ghana"
94,1645849266710106123,1618967013942087682,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:18+00:00,
95,1645849263484596224,1065693662355603457,1645808389778460681,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:17+00:00,"Nottingham, England"
96,1645849262037651460,1382018183851347977,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:17+00:00,Juja
97,1645849255280607233,353354260,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:15+00:00,Soul Society
98,1645849253598711814,447673329,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:15+00:00,
99,1645849248091582464,1482477284720361472,None,Status(_api=<tweepy.api.API object at 0x10fd91...,2023-04-11 18:00:13+00:00,"Port Harcourt/Warri, Nigeria"

In [62]:
tweets = tweepy.Cursor(api.search_tweets, q=query, lang='en').items(1)
for status in tweets:
    
    print (status)

Status(_api=<tweepy.api.API object at 0x103575580>, _json={'created_at': 'Thu Apr 06 22:32:24 +0000 2023', 'id': 1644105803274625027, 'id_str': '1644105803274625027', 'text': 'RT @Arsenalnewschan: 🗣️Neil Lennon urges Mikel Arteta to play Kieran Tierney more for #Arsenal this season: "I really think Kieran is a top…', 'truncated': False, 'entities': {'hashtags': [{'text': 'Arsenal', 'indices': [86, 94]}], 'symbols': [], 'user_mentions': [{'screen_name': 'Arsenalnewschan', 'name': 'Arsenal News Channel', 'id': 1234441999199227905, 'id_str': '1234441999199227905', 'indices': [3, 19]}], 'urls': []}, 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 1501568417505107970, 'id_str': '1501568417505107970', 'name': '🇯🇲🥤', 'screen_name': 'Skegzette', 'location': '', 'description': '@lacazetteAlex @arsenal', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 59, 'friends_count': 94, 'listed_count': 0, 'created_at': 'Wed Mar 09 14:39:53 +0000 2022', 'favourites_count': 1840, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 78, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1501568417505107970/1649074777', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'retweeted_status': {'created_at': 'Thu Apr 06 16:16:18 +0000 2023', 'id': 1644011155436838915, 'id_str': '1644011155436838915', 'text': '🗣️Neil Lennon urges Mikel Arteta to play Kieran Tierney more for #Arsenal this season: "I really think Kieran is a… https://t.co/8e2IvKclhq', 'truncated': True, 'entities': {'hashtags': [{'text': 'Arsenal', 'indices': [65, 73]}], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/8e2IvKclhq', 'expanded_url': 'https://twitter.com/i/web/status/1644011155436838915', 'display_url': 'twitter.com/i/web/status/1…', 'indices': [116, 139]}]}, 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 1234441999199227905, 'id_str': '1234441999199227905', 'name': 'Arsenal News Channel', 'screen_name': 'Arsenalnewschan', 'location': '', 'description': '🛑 I FOLLOW BACK ALL #Gunners #COYG | 🛑 🤝 200k subs on YT ✌️', 'url': 'https://t.co/QC6LvX5C6Q', 'entities': {'url': {'urls': [{'url': 'https://t.co/QC6LvX5C6Q', 'expanded_url': 'https://youtube.com/c/ArsenalNewsChannel', 'display_url': 'youtube.com/c/ArsenalNewsC…', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 161360, 'friends_count': 120802, 'listed_count': 234, 'created_at': 'Mon Mar 02 11:35:17 +0000 2020', 'favourites_count': 130, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 10729, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1234441999199227905/1583149011', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 165, 'favorite_count': 4157, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'en'}, 'is_quote_status': False, 'retweet_count': 165, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'en'}, created_at=datetime.datetime(2023, 4, 6, 22, 32, 24, tzinfo=datetime.timezone.utc), id=1644105803274625027, id_str='1644105803274625027', text='RT @Arsenalnewschan: 🗣️Neil Lennon urges Mikel Arteta to play Kieran Tierney more for #Arsenal this season: "I really think Kieran is a top…', truncated=False, entities={'hashtags': [{'text': 'Arsenal', 'indices': [86, 94]}], 'symbols': [], 'user_mentions': [{'screen_name': 'Arsenalnewschan', 'name': 'Arsenal News Channel', 'id': 1234441999199227905, 'id_str': '1234441999199227905', 'indices': [3, 19]}], 'urls': []}, metadata={'iso_language_code': 'en', 'result_type': 'recent'}, source='Twitter for iPhone', source_url='http://twitter.com/download/iphone', in_reply_to_status_id=None, in_reply_to_status_id_str=None, in_reply_to_user_id=None, in_reply_to_user_id_str=None, in_reply_to_screen_name=None, author=User(_api=<tweepy.api.API object at 0x103575580>, _json={'id': 1501568417505107970, 'id_str': '1501568417505107970', 'name': '🇯🇲🥤', 'screen_name': 'Skegzette', 'location': '', 'description': '@lacazetteAlex @arsenal', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 59, 'friends_count': 94, 'listed_count': 0, 'created_at': 'Wed Mar 09 14:39:53 +0000 2022', 'favourites_count': 1840, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 78, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1501568417505107970/1649074777', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, id=1501568417505107970, id_str='1501568417505107970', name='🇯🇲🥤', screen_name='Skegzette', location='', description='@lacazetteAlex @arsenal', url=None, entities={'description': {'urls': []}}, protected=False, followers_count=59, friends_count=94, listed_count=0, created_at=datetime.datetime(2022, 3, 9, 14, 39, 53, tzinfo=datetime.timezone.utc), favourites_count=1840, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=78, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='F5F8FA', profile_background_image_url=None, profile_background_image_url_https=None, profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/1501568417505107970/1649074777', profile_link_color='1DA1F2', profile_sidebar_border_color='C0DEED', profile_sidebar_fill_color='DDEEF6', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=True, default_profile=True, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[]), user=User(_api=<tweepy.api.API object at 0x103575580>, _json={'id': 1501568417505107970, 'id_str': '1501568417505107970', 'name': '🇯🇲🥤', 'screen_name': 'Skegzette', 'location': '', 'description': '@lacazetteAlex @arsenal', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 59, 'friends_count': 94, 'listed_count': 0, 'created_at': 'Wed Mar 09 14:39:53 +0000 2022', 'favourites_count': 1840, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 78, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1501568417505107970/1649074777', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, id=1501568417505107970, id_str='1501568417505107970', name='🇯🇲🥤', screen_name='Skegzette', location='', description='@lacazetteAlex @arsenal', url=None, entities={'description': {'urls': []}}, protected=False, followers_count=59, friends_count=94, listed_count=0, created_at=datetime.datetime(2022, 3, 9, 14, 39, 53, tzinfo=datetime.timezone.utc), favourites_count=1840, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=78, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='F5F8FA', profile_background_image_url=None, profile_background_image_url_https=None, profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1510955013501292544/fk2ORea1_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/1501568417505107970/1649074777', profile_link_color='1DA1F2', profile_sidebar_border_color='C0DEED', profile_sidebar_fill_color='DDEEF6', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=True, default_profile=True, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[]), geo=None, coordinates=None, place=None, contributors=None, retweeted_status=Status(_api=<tweepy.api.API object at 0x103575580>, _json={'created_at': 'Thu Apr 06 16:16:18 +0000 2023', 'id': 1644011155436838915, 'id_str': '1644011155436838915', 'text': '🗣️Neil Lennon urges Mikel Arteta to play Kieran Tierney more for #Arsenal this season: "I really think Kieran is a… https://t.co/8e2IvKclhq', 'truncated': True, 'entities': {'hashtags': [{'text': 'Arsenal', 'indices': [65, 73]}], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/8e2IvKclhq', 'expanded_url': 'https://twitter.com/i/web/status/1644011155436838915', 'display_url': 'twitter.com/i/web/status/1…', 'indices': [116, 139]}]}, 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 1234441999199227905, 'id_str': '1234441999199227905', 'name': 'Arsenal News Channel', 'screen_name': 'Arsenalnewschan', 'location': '', 'description': '🛑 I FOLLOW BACK ALL #Gunners #COYG | 🛑 🤝 200k subs on YT ✌️', 'url': 'https://t.co/QC6LvX5C6Q', 'entities': {'url': {'urls': [{'url': 'https://t.co/QC6LvX5C6Q', 'expanded_url': 'https://youtube.com/c/ArsenalNewsChannel', 'display_url': 'youtube.com/c/ArsenalNewsC…', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 161360, 'friends_count': 120802, 'listed_count': 234, 'created_at': 'Mon Mar 02 11:35:17 +0000 2020', 'favourites_count': 130, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 10729, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1234441999199227905/1583149011', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 165, 'favorite_count': 4157, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'en'}, created_at=datetime.datetime(2023, 4, 6, 16, 16, 18, tzinfo=datetime.timezone.utc), id=1644011155436838915, id_str='1644011155436838915', text='🗣️Neil Lennon urges Mikel Arteta to play Kieran Tierney more for #Arsenal this season: "I really think Kieran is a… https://t.co/8e2IvKclhq', truncated=True, entities={'hashtags': [{'text': 'Arsenal', 'indices': [65, 73]}], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/8e2IvKclhq', 'expanded_url': 'https://twitter.com/i/web/status/1644011155436838915', 'display_url': 'twitter.com/i/web/status/1…', 'indices': [116, 139]}]}, metadata={'iso_language_code': 'en', 'result_type': 'recent'}, source='Twitter for iPhone', source_url='http://twitter.com/download/iphone', in_reply_to_status_id=None, in_reply_to_status_id_str=None, in_reply_to_user_id=None, in_reply_to_user_id_str=None, in_reply_to_screen_name=None, author=User(_api=<tweepy.api.API object at 0x103575580>, _json={'id': 1234441999199227905, 'id_str': '1234441999199227905', 'name': 'Arsenal News Channel', 'screen_name': 'Arsenalnewschan', 'location': '', 'description': '🛑 I FOLLOW BACK ALL #Gunners #COYG | 🛑 🤝 200k subs on YT ✌️', 'url': 'https://t.co/QC6LvX5C6Q', 'entities': {'url': {'urls': [{'url': 'https://t.co/QC6LvX5C6Q', 'expanded_url': 'https://youtube.com/c/ArsenalNewsChannel', 'display_url': 'youtube.com/c/ArsenalNewsC…', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 161360, 'friends_count': 120802, 'listed_count': 234, 'created_at': 'Mon Mar 02 11:35:17 +0000 2020', 'favourites_count': 130, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 10729, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1234441999199227905/1583149011', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, id=1234441999199227905, id_str='1234441999199227905', name='Arsenal News Channel', screen_name='Arsenalnewschan', location='', description='🛑 I FOLLOW BACK ALL #Gunners #COYG | 🛑 🤝 200k subs on YT ✌️', url='https://t.co/QC6LvX5C6Q', entities={'url': {'urls': [{'url': 'https://t.co/QC6LvX5C6Q', 'expanded_url': 'https://youtube.com/c/ArsenalNewsChannel', 'display_url': 'youtube.com/c/ArsenalNewsC…', 'indices': [0, 23]}]}, 'description': {'urls': []}}, protected=False, followers_count=161360, friends_count=120802, listed_count=234, created_at=datetime.datetime(2020, 3, 2, 11, 35, 17, tzinfo=datetime.timezone.utc), favourites_count=130, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=10729, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='F5F8FA', profile_background_image_url=None, profile_background_image_url_https=None, profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1376862448200863744/ov9SxKEc_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/1234441999199227905/1583149011', profile_link_color='1DA1F2', profile_sidebar_border_color='C0DEED', profile_sidebar_fill_color='DDEEF6', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=False, default_profile=True, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[]), user=User(_api=<tweepy.api.API object at 0x103575580>, _json={'id': 1234441999199227905, 'id_str': '1234441999199227905', 'name': 'Arsenal News Channel', 'screen_name': 'Arsenalnewschan', 'location': '', 'description': '🛑 I FOLLOW BACK ALL #Gunners #COYG | 🛑 🤝 200k subs on YT ✌️', 'url': 'https://t.co/QC6LvX5C6Q', 'entities': {'url': {'urls': [{'url': 'https://t.co/QC6LvX5C6Q', 'expanded_url': 'https://youtube.com/c/ArsenalNewsChannel', 'display_url': 'youtube.com/c/ArsenalNewsC…', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 161360, 'friends_count': 120802, 'listed_count': 234, 'created_at': 'Mon Mar 02 11:35:17 +0000 2020', 'favourites_count': 130, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statu

In [32]:
twitter_user = pd.DataFrame({
'twitter_handle': twitter_handle,
'user_name': user_name,
'profile_img_url': profile_img_url,
'description': description,
'follower_count': follower_count,
'following_count': following_count,
'joined_on': joined_on,
'location': location,
})

In [33]:
twitter_user = twitter_user.drop_duplicates()
twitter_header = twitter_header.drop_duplicates()

In [34]:
twitter_header = twitter_header.replace('~', ' ', regex=True)

In [35]:
twitter_header.applymap(lambda x: '~' in str(x))

#twitter_header.loc[twitter_header['location'].str.contains("~", case=False)]

    tweet_id  twitter_handle  parent_tweet_id  tweet  tweet_time  location
0      False           False            False  False       False     False
1      False           False            False  False       False     False
2      False           False            False  False       False     False
3      False           False            False  False       False     False
4      False           False            False  False       False     False
..       ...             ...              ...    ...         ...       ...
95     False           False            False  False       False     False
96     False           False            False  False       False     False
97     False           False            False  False       False     False
98     False           False            False  False       False     False
99     False           False            False  False       False     False

[100 rows x 6 columns]

In [59]:
twitter_header = twitter_header[pd.to_numeric(twitter_header['tweet_id'], errors='coerce').notna()]
#twitter_header['tweet_id']

0     1645849572864819200
1     1645849572223115264
2     1645849558436700160
3     1645849558432337925
4     1645849557140488193
5     1645849547611176960
6     1645849545186873345
7     1645849536231886855
8     1645849535590309888
9     1645849535355273217
10    1645849533719494656
11    1645849533501562880
12    1645849531886587907
13    1645849530972229644
14    1645849528468135936
15    1645849521258110977
16    1645849518099910658
17    1645849510340448265
18    1645849507374964739
19    1645849506544533506
20    1645849506519437320
21    1645849495530360832
22    1645849494796247041
23    1645849485514362883
24    1645849481752072193
25    1645849458666528771
26    1645849458133827584
27    1645849454908526615
28    1645849454094831635
29    1645849452891066374
30    1645849448461869056
31    1645849444015800322
32    1645849443579711501
33    1645849441906184202
34    1645849440274780160
35    1645849438487990272
36    1645849437921595397
37    1645849432951324672
38    1645849428769554432
39    1645849425128955905
40    1645849423484792832
41    1645849421270196224
42    1645849415993769985
43    1645849411501604864
44    1645849410037862409
45    1645849403603800082
46    1645849400864919582
47    1645849400349020161
48    1645849398608375810
49    1645849391788445707
50    1645849386843250689
51    1645849386394562562
52    1645849383043321872
53    1645849378802761729
54    1645849376072388608
55    1645849369915138053
56    1645849362705051648
57    1645849362340126720
58    1645849356837310476
59    1645849355298000914
60    1645849353175572480
61    1645849352814960640
62    1645849348503228437
63    1645849348100575249
64    1645849345852428294
65    1645849340949286925
66    1645849340722937856
67    1645849339904905223
68    1645849338193629185
69    1645849333537861634
70    1645849332501958672
71    1645849331243667458
72    1645849330669047829
73    1645849329117302785
74    1645849327309410319
75    1645849326957088780
76    1645849325904306176
77    1645849322439733248
78    1645849320648855558
79    1645849317016576003
80    1645849313057054720
81    1645849309223501824
82    1645849307843645444
83    1645849301896122379
84    1645849301497651203
85    1645849295243952128
86    1645849294094708738
87    1645849294035996673
88    1645849293394268168
89    1645849293180518400
90    1645849290600861697
91    1645849288856027137
92    1645849288193318913
93    1645849277346861058
94    1645849266710106123
95    1645849263484596224
96    1645849262037651460
97    1645849255280607233
98    1645849253598711814
99    1645849248091582464
Name: tweet_id, dtype: object

In [57]:
new_data = {'tweet_id': 'this is ', 'twitter_handle': 'as' , 'parent_tweet_id': parent_tweet_id, 'tweet': tweet, 'tweet_time': tweet_time, 'location': location}
twitter_header = twitter_header.append(new_data, ignore_index=True)

/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_51486/7108564.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  twitter_header = twitter_header.append(new_data, ignore_index=True)

In [25]:

#twitter_header.to_csv('data/twitterheader.csv',sep = "~",encoding = "utf-8", index = False)

twitter_header.to_csv(outputBlobName,sep = "~",encoding = "utf-8", index = False)

with open(outputBlobName, "rb") as data:
    blob.upload_blob(data, overwrite=True)

In [26]:
#twitter_user.to_csv('data/twitteruser.csv',sep = ",",encoding = "utf-8", index = False)

In [27]:
tweet_url = pd.DataFrame({'tweet_id': tweet_id})
tweet_url['URL'] = 'https://twitter.com/twitter/statuses/' + tweet_url['tweet_id']

tweet_url = tweet_url.drop_duplicates()

#tweet_url.to_csv('data/tweet_url.csv',sep = ",",encoding = "utf-8", index = False)

In [41]:
# Referenced Tweet Table
referenced_tweet_table = pd.DataFrame()
referenced_tweet_table['child_tweet_id'] = twitter_header[twitter_header['parent_tweet_id'] != 'None']['tweet_id']
referenced_tweet_table['parent_tweet_id'] = twitter_header[twitter_header['parent_tweet_id'] != 'None']['parent_tweet_id']
referenced_tweet_table['parent_tweet_user_id'] = ''
referenced_tweet_table['parent_tweet_user_name'] = ''
referenced_tweet_table['parent_tweet_text'] = ''

In [37]:
twitter_header[twitter_header['parent_tweet_id'] != 'None']['parent_tweet_id']

4     1645809973501497344
6     1645822247381106693
8     1645824778182197248
9     1645824778182197248
13    1645848896500015106
14    1645817050013523968
18    1645797478103683074
20    1645849327309410319
26    1645840616465498153
29    1645812599005782019
30    1645842846878924828
36    1645846129345540096
42    1644959225741815808
43    1645848194541035520
46    1645774250567950338
51    1645711482326249472
54    1645829938606374918
59    1645848593436164097
64    1645847155490410512
65    1645848408115105800
72    1645845733126418432
74    1645846194206175232
75    1645811992480088065
80    1645848429522743298
88    1645820962053423105
90    1645847899694153728
95    1645808389778460681
Name: parent_tweet_id, dtype: object

In [42]:
referenced_tweet_table.reset_index(drop = True, inplace = True)

In [43]:
for i in range(0, len(referenced_tweet_table['parent_tweet_id'])):
    tweet = api.get_status(referenced_tweet_table['parent_tweet_id'][i])
    #print(tweet.user.id_str)
    referenced_tweet_table['parent_tweet_user_id'][i] = tweet.user.id_str
    referenced_tweet_table['parent_tweet_user_name'][i] = tweet.user.name
    referenced_tweet_table['parent_tweet_text'][i] = tweet.text

In [31]:
referenced_tweet_table = referenced_tweet_table.drop_duplicates()

#referenced_tweet_table.to_csv('data/referenced_tweet_table.csv',sep = ",", encoding = "utf-8", index = False)

In [103]:
# Hashtags data

hashtagsdata = {}
inner_json = {'used_in': []}

In [104]:
# Define the hashtag you want to search for
for hashtag in hashtags:
    
    hashtagsdata['hashtag'] = hashtag['text']
    
    tweets = tweepy.Cursor(api.search_tweets, q = hashtag['text'], lang='en').items(10)

    for tweet in tweets:
        #print(tweets.text)
        inner_json['used_in'].append({'username': tweet.user.name, 'tweet_location': tweet.user.location, 'tweet_text': tweet.text})

In [84]:
with open("data/hashtagsdata_json.json", "w") as outfile:
    # Write the JSON to the file
    json.dump(hashtagsdata, outfile)

In [105]:
hashtagsdata['used_in'] = {
    "used_in": inner_json  # Nest the middle JSON object
}

# Convert the dictionary to a JSON string
json_string = json.dumps(hashtagsdata, indent=4)

In [106]:
with open("data/hashtagsdata_json.json", "w") as outfile:
    # Write the JSON to the file
    json.dump(json_string, outfile)

In [35]:
# find the length of the longest array in the dictionary
max_len = max(len(v) for v in hashtagsdata.values())

# pad the shorter arrays with None values to make them the same length
for k, v in hashtagsdata.items():
    if len(v) < max_len:
        hashtagsdata[k] += [None] * (max_len - len(v))

# create a list of tuples, where each tuple contains the corresponding values from each array
rows = list(zip(*hashtagsdata.values()))

# create a DataFrame from the list of tuples
df = pd.DataFrame(rows, columns=hashtagsdata.keys())

In [36]:
df = df.reset_index()

In [37]:
melted_df = pd.melt(df, id_vars=['index'], var_name='variable', value_name='value')

In [38]:
melted_df = melted_df.dropna(how = 'any')

In [39]:
melted_df.reset_index(drop = True, inplace = True)

In [40]:
melted_df['username'] = np.nan * np.empty(len(melted_df))
melted_df['location'] = np.nan * np.empty(len(melted_df))

In [41]:
for i in range(0, len(melted_df['value'])):
    melted_df['username'][i] = melted_df['value'][i]['username']
    melted_df['location'][i] = melted_df['value'][i]['tweet_location']
    #melted_df['tweet_text'][i] = melted_df['value'][i]['tweet_text']
    
    #print(melted_df['value'][i]['username'])

/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/3899634941.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  melted_df['username'][i] = melted_df['value'][i]['username']
/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/3899634941.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  melted_df['location'][i] = melted_df['value'][i]['tweet_location']

In [42]:
merged_df = pd.merge(melted_df[melted_df['location'] != ''],
         twitter_header[twitter_header['location'] != ''], on='location', how = 'inner')

In [43]:

edge_df = merged_df[['variable', 'location']]
edge_df.columns = ['_from', '_to']

In [44]:
edge_df['type'] = 'used_in'
edge_df['_from'] = 'nodes/' + edge_df['_from']
edge_df['_to'] = 'nodes/' + edge_df['_to']

/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/10834446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edge_df['type'] = 'used_in'
/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/10834446.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edge_df['_from'] = 'nodes/' + edge_df['_from']
/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/10834446.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edge_df['_to'] = 'nodes/' + edge_df['_to']

In [45]:
#merged_df.to_csv('data/nodes.csv',sep = ",", encoding = "utf-8", index = False)
#edge_df.to_csv('data/edges.csv',sep = ",", encoding = "utf-8", index = False)

In [108]:
hashtagsdata = {}

for hashtag in hashtags:
    hashtagsdata[hashtag['text']] = []
    tweets = tweepy.Cursor(api.search_tweets, q = hashtag['text'], lang='en').items(10)
    for tweet in tweets:
        hashtagsdata[hashtag['text']].append({'username': tweet.user.name, 'tweet_location': tweet.user.location, 'tweet_text': tweet.text})

In [110]:
max_len = max(len(v) for v in hashtagsdata.values())


for k, v in hashtagsdata.items():
   if len(v) < max_len:
       hashtagsdata[k] += [None] * (max_len - len(v))


rows = list(zip(*hashtagsdata.values()))

df = pd.DataFrame(rows, columns=hashtagsdata.keys())

df = df.reset_index()

melted_df = pd.melt(df, id_vars=['index'], var_name='variable', value_name='value')

melted_df = melted_df.dropna(how = 'any')

melted_df.reset_index(drop = True, inplace = True)

melted_df['username'] = np.nan * np.empty(len(melted_df))
melted_df['location'] = np.nan * np.empty(len(melted_df))

for i in range(0, len(melted_df['value'])):
    melted_df['username'][i] = melted_df['value'][i]['username']
    melted_df['location'][i] = melted_df['value'][i]['tweet_location']
    #melted_df['tweet_text'][i] = melted_df['value'][i]['tweet_text']


nodes = pd.merge(melted_df[melted_df['location'] != ''],
        twitter_header[twitter_header['location'] != ''], on='location', how = 'inner')


edge_df = nodes[['variable', 'location']]
edge_df.columns = ['_from', '_to']

edge_df['type'] = 'used_in'
edge_df['_from'] = 'nodes/' + edge_df['_from']
edge_df['_to'] = 'nodes/' + edge_df['_to']

nodes = nodes.replace('~', ' ', regex=True)

/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/1139843763.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  melted_df['username'][i] = melted_df['value'][i]['username']
/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/1139843763.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  melted_df['location'][i] = melted_df['value'][i]['tweet_location']
/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/1139843763.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edge_df['type'] = 'used_in'
/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/1139843763.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edge_df['_from'] = 'nodes/' + edge_df['_from']
/var/folders/h7/_cx0wt_x18j9hlyf64d68vvm0000gn/T/ipykernel_57749/1139843763.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edge_df['_to'] = 'nodes/' + edge_df['_to']

In [113]:
edge_df

            _from                        _to     type
0   nodes/Arsenal             nodes/Nigeria   used_in
1   nodes/Arsenal           nodes/Manchester  used_in
2   nodes/Arsenal                  nodes/USA  used_in
3   nodes/Arsenal      nodes/London, England  used_in
4   nodes/Arsenal      nodes/London, England  used_in
5   nodes/Arsenal      nodes/London, England  used_in
6   nodes/Arsenal      nodes/London, England  used_in
7   nodes/Arsenal      nodes/London, England  used_in
8       nodes/lfc      nodes/London, England  used_in
9       nodes/lfc      nodes/London, England  used_in
10      nodes/lfc      nodes/London, England  used_in
11      nodes/lfc      nodes/London, England  used_in
12      nodes/lfc      nodes/London, England  used_in
13      nodes/EPL       nodes/United Kingdom  used_in
14      nodes/EPL       nodes/Lagos, Nigeria  used_in
15      nodes/EPL       nodes/Lagos, Nigeria  used_in
16     nodes/mufc  nodes/Manchester, England  used_in
17     nodes/mufc  nodes/Manchester, England  used_in
18     nodes/mufc  nodes/Manchester, England  used_in
19     nodes/MUFC  nodes/Manchester, England  used_in
20     nodes/MUFC  nodes/Manchester, England  used_in
21     nodes/MUFC  nodes/Manchester, England  used_in
22     nodes/mufc              nodes/Nigeria  used_in
23     nodes/mufc              nodes/Nigeria  used_in
24     nodes/MUFC              nodes/Nigeria  used_in
25     nodes/MUFC              nodes/Nigeria  used_in

In [19]:
df = [d['text'] for d in hashtags]

In [28]:
js_hashtags = []

for i in df:
    obj = {
        "hashtag": i,
        "tweets": []
    }
    
    tweets = tweepy.Cursor(api.search_tweets, q = i, lang='en').items(10)
    for tweet in tweets:
        child_obj = {'username': tweet.user.name, 'tweet_location': tweet.user.location, 'tweet_text': tweet.text}
        obj["tweets"].append(child_obj)
    js_hashtags.append(obj)

[{'hashtag': 'Arsenal',
  'tweets': [{'username': 'Clarkey',
    'tweet_location': 'Gillingham, Kent',
    'tweet_text': 'RT @aliladiere: I’m gonna put it out there but if City with 40 goal Haaland, do not win the Premier League against 5th placed and 7 years w…'},
   {'username': '🐾𝔼𝕝 𝕋𝕚𝕘𝕣𝕖 𝓐𝔃𝓾𝓵☄️',
    'tweet_location': '',
    'tweet_text': 'RT @RonFilipkowski: The key is just to require all citizens to walk around with an AR-15. Walk into banks, shopping malls, college campuses…'},
   {'username': 'Mark Thomas',
    'tweet_location': 'Oxford, United Kingdom',
    'tweet_text': 'RT @HannaLiubakova: #Belarus became the first state to voluntarily give away nuclear weapons, proudly states the @BelarusMFA website. Watch…'},
   {'username': 'Paul',
    'tweet_location': 'Peacehaven, England',
    'tweet_text': 'RT @SuZeSport: ‼️ CLEARANCE SALE on ALL unframed signed shirts but they can be framed for extra if you wish them to be 🖼️ \n\nFulham: Palhinh…'},
   {'username': 'Ahsanul Hoque',
    'tweet_location': 'Chittagong, Bangladesh',
    'tweet_text': 'RT @aliladiere: I’m gonna put it out there but if City with 40 goal Haaland, do not win the Premier League against 5th placed and 7 years w…'},
   {'username': 'Patoh',
    'tweet_location': 'Kenya',
    'tweet_text': 'RT @CFCBlues_com: 📅 2nd May 2016 - Chelsea 2-2 Spurs (Battle of the Bridge)\n\n📅 2nd May 2023 - Arsenal vs Chelsea\n\n👀👀\n\nhttps://t.co/PO1OtCcu…'},
   {'username': 'AngelS3333',
    'tweet_location': '',
    'tweet_text': 'RT @RonFilipkowski: The key is just to require all citizens to walk around with an AR-15. Walk into banks, shopping malls, college campuses…'},
   {'username': 'GAMELOX',
    'tweet_location': '',
    'tweet_text': 'RT @SuZeSport: ‼️ CLEARANCE SALE on ALL unframed signed shirts but they can be framed for extra if you wish them to be 🖼️ \n\nFulham: Palhinh…'},
   {'username': 'Status Symbol',
    'tweet_location': 'Milano, Italia',
    'tweet_text': "RT @Lasha61949599: Best Club every decade 1872-now\n\n1870s: Queen's Park 🏴\U000e0067\U000e0062\U000e0073\U000e0063\U000e0074\U000e007f\n1880s: Preston North End 🏴\U000e0067\U000e0062\U000e0065\U000e006e\U000e0067\U000e007f\n1890s: Aston Villa 🏴\U000e0067\U000e0062\U000e0065\U000e006e\U000e0067\U000e007f…"},
   {'username': 'American express my love',
    'tweet_location': 'MuDendere',
    'tweet_text': 'A bunch of Arsenal fans want Man city to win so they can stay in the competition for as long as possible.\nI on the… https://t.co/IBQmLG6t2V'}]},
 {'hashtag': 'northkorea',
  'tweets': [{'username': 'Jack Clancy',
    'tweet_location': 'Think Tank',
    'tweet_text': 'RT @jseldin: "It is almost non-existent that a hacker comes straight from one of the big foreign nations - #Iran #NorthKorea #Russia #China…'},
   {'username': 'Army Recognition',
    'tweet_location': 'Andenne, Belgium',
    'tweet_text': 'RT @NavyRecognition: #NorthKorea tests #nuclear capable #underwaterdrone #UUV #Haeil2\n\nhttps://t.co/vw2Am5ZsIt'},
   {'username': 'George Sirdar',
    'tweet_location': '',
    'tweet_text': "North Korea is itching to let it go, to put the bully in it's place, once and forever 💥\n\n#Russia #China #USA… https://t.co/9hUeEwPzWs"},
   {'username': 'Indian Advocate',
    'tweet_location': '',
    'tweet_text': 'North Korean leader vows ‘offensive’ nuclear expansion\nhttps://t.co/PUQbbPVCr6 #northkorea #SouthKorea… https://t.co/xlGngOEGCD'},
   {'username': 'Mechelle Smith',
    'tweet_location': '',
    'tweet_text': "RT @EpochTimesChina: The US and its allies faced a #China blockade at the #UnitedNation when they tried to spotlight #NorthKorea's dire #Hu…"},
   {'username': 'Worldwide Conflicts 🌐',
    'tweet_location': 'Worldwide',
    'tweet_text': 'Yeah, the Eastern Asia is on the brink of war. If it would start none can avoid it in this region and it could cost… https://t.co/ljXi13qw4o'},
   {'username': 'Mr. Silence Dogwood',
    'tweet_location': 'USA',
    'tweet_text': 'RT @jseldin: "It is almost non-existent that a hacker comes straight from one of the big foreign nations - #Iran #NorthKorea #Russia #China…'},
   {'username': 'Just Politics',
    'tweet_location': '',
    'tweet_text': 'The governor of the Russian region bordering #NorthKorea has called on Putin to increase economicinvestment &amp; empha… https://t.co/3PVyuhMDvB'},
   {'username': 'André Verzaal',
    'tweet_location': 'Alphen aan den Rijn, Nederland',
    'tweet_text': 'RT @jseldin: "It is almost non-existent that a hacker comes straight from one of the big foreign nations - #Iran #NorthKorea #Russia #China…'},
   {'username': 'Jeff Seldin',
    'tweet_location': 'Washington, DC',
    'tweet_text': '"It is almost non-existent that a hacker comes straight from one of the big foreign nations - #Iran #NorthKorea… https://t.co/8nta2bR0gK'}]},
 {'hashtag': 'SouthKorea',
  'tweets': [{'username': 'XiXi Davey',
    'tweet_location': 'warnsomegraphicphotosbadnews',
    'tweet_text': 'RT @ferozwala: Evacuation in #SouthKorea as a coastal city under #Wildfire threat - reports\n\nMore than 2,300 firefighters &amp; 300 vehicles we…'},
   {'username': 'Event Tracker',
    'tweet_location': '',
    'tweet_text': 'I think Event: Wildfire has occurred in SouthKorea\nTue Apr 11 13:07:22 2023 CDT https://t.co/Cpfy4XXzCA'},
   {'username': 'Gédéon V.',
    'tweet_location': 'Neverland',
    'tweet_text': 'Fourth trip of 2023 — let’s go!\n\n#travel #Seoul #SouthKorea #traveldéon https://t.co/uqBH6Qz12k… https://t.co/FKjp4vpOS1'},
   {'username': 'abhishek kumar🇮🇳',
    'tweet_location': 'Lucknow, India',
    'tweet_text': 'RT @firstpost: #VantageOnFirstpost: Tech giant #Google is in trouble in #SouthKorea. #Seoul has fined the company $32 billion. This is beca…'},
   {'username': 'Army Recognition',
    'tweet_location': 'Andenne, Belgium',
    'tweet_text': 'RT @NavyRecognition: #SouthKorea #Navy launches 3,600 ton #frigate #Chungnam #ROKN \n\nhttps://t.co/eJrFiJbTq3'},
   {'username': 'Phunsukh Waangdu',
    'tweet_location': 'Mumbai',
    'tweet_text': 'RT @firstpost: #VantageOnFirstpost: Tech giant #Google is in trouble in #SouthKorea. #Seoul has fined the company $32 billion. This is beca…'},
   {'username': 'Nigam Arora',
    'tweet_location': 'Click for FREE 30 day trials',
    'tweet_text': 'NEWS FROM SAMSUNG PROVIDES AN OPPORTUNITY IN MICRON STOCK - Read more.\n\nhttps://t.co/xhi2StG9EZ\n\n#Investing #Invest… https://t.co/20FOOVRkkH'},
   {'username': 'Asia News Network',
    'tweet_location': '',
    'tweet_text': 'Its main track, "Flower", hit Spotify’s Daily Top Songs global chart at No. 6, the highest spot for a solo female K… https://t.co/V5NnOA6o4M'},
   {'username': 'David Ullrich',
    'tweet_location': 'Wisconsin',
    'tweet_text': 'RT @ClimatChristo: #Adaptation will be easy peasy, as mentioned for years by @Le_Figaro @Telegraph @DailyMailUK #FoxNews.\n\n #Wildfires in #…'},
   {'username': 'K@F¶r B#@kT',
    'tweet_location': 'ShriKrishnaSharanamMamah',
    'tweet_text': 'RT @firstpost: #VantageOnFirstpost: Tech giant #Google is in trouble in #SouthKorea. #Seoul has fined the company $32 billion. This is beca…'}]},
 {'hashtag': 'arsenal',
  'tweets': [{'username': 'Clarkey',
    'tweet_location': 'Gillingham, Kent',
    'tweet_text': 'RT @aliladiere: I’m gonna put it out there but if City with 40 goal Haaland, do not win the Premier League against 5th placed and 7 years w…'},
   {'username': '🐾𝔼𝕝 𝕋𝕚𝕘𝕣𝕖 𝓐𝔃𝓾𝓵☄️',
    'tweet_location': '',
    'tweet_text': 'RT @RonFilipkowski: The key is just to require all citizens to walk around with an AR-15. Walk into banks, shopping malls, college campuses…'},
   {'username': 'Mark Thomas',
    'tweet_location': 'Oxford, United Kingdom',
    'tweet_text': 'RT @HannaLiubakova: #Belarus became the first state to voluntarily give away nuclear weapons, proudly states the @BelarusMFA website. Watch…'},
   {'username': 'Paul',
    'tweet_location': 'Peacehaven, England',
    'tweet_text': 'RT @SuZeSport: ‼️ CLEARANCE SALE on ALL unframed signed shirts but they can be framed for extra if you wish them to be 🖼️ \n\nFulham: Palhinh…'},
   {'username': 'Ahsanul Hoque',
    'tweet_location': 'Chittagong, Bangladesh',
    'tweet_text': 'RT @aliladiere: I’m gonna put it out there but if City with 40 goal Haaland, do not win the Premier League against 5th placed and 7 years w…'},
   {'username': 'Patoh',
    'tweet_location': 'Kenya',
    'tweet_text': 'RT @CFCBlues_com: 📅 2nd May 2016 - Chelsea 2-2 Spurs (Battle of the Bridge)\n\n📅 2nd May 2023 - Arsenal vs Chelsea\n\n👀👀\n\nhttps://t.co/PO1OtCcu…'},
   {'username': 'AngelS3333',
    'tweet_location': '',
    'tweet_text': 'RT @RonFilipkowski: The key is just to require all citizens to walk around with an AR-15. Walk into banks, shopping malls, college campuses…'},
   {'username': 'GAMELOX',
    'tweet_location': '',
    'tweet_text': 'RT @SuZeSport: ‼️ CLEARANCE SALE on ALL unframed signed shirts but they can be framed for extra if you wish them to be 🖼️ \n\nFulham: Palhinh…'},
   {'username': 'Status Symbol',
    'tweet_location': 'Milano, Italia',
    'tweet_text': "RT @Lasha61949599: Best Club every decade 1872-now\n\n1870s: Queen's Park 🏴\U000e0067\U000e0062\U000e0073\U000e0063\U000e0074\U000e007f\n1880s: Preston North End 🏴\U000e0067\U000e0062\U000e0065\U000e006e\U000e0067\U000e007f\n1890s: Aston Villa 🏴\U000e0067\U000e0062\U000e0065\U000e006e\U000e0067\U000e007f…"},
   {'username': 'American express my love',
    'tweet_location': 'MuDendere',
    'tweet_text': 'A bunch of Arsenal fans want Man city to win so they can stay in the competition for as long as possible.\nI on the… https://t.co/IBQmLG6t2V'}]},
 {'hashtag': 'brighton',
  'tweets': [{'username': 'VíctorDamm',
    'tweet_location': 'La cima del éxito',
    'tweet_text': "RT @Ekremkonur: 🚨Clubs from Europe have made Feyenoord's 21-year-old Mexican striker Santiago Giménez a target in the summer transfer windo…"},
   {'username': 'Nationwide90FM',
    'tweet_location': '6 Bradley Avenue, Kingston',
    'tweet_text': 'Referee Michael Salisbury has been dropped for the next round of Premier League fixtures.\n\nSalisbury was the VAR of… https://t.co/JdVg7yi0AW'},
   {'username': 'dsl',
    'tweet_location': '',
    'tweet_text': 'RT @pokeefe1: @bhamatt_ Harry Kane has scored 10 times in his 14 appearances vs Brighton and lost twice. You also posted a game he missed w…'},
   {'username': 'AaliStar',
    'tweet_location': 'Somewhere beside the sea, UK ',
    'tweet_text': 'RT @SistersSalon2: @SarahSurviving You can support Sarah’s case against Brighton’s rape crisis by donating here, or email us (brightonsiste…'},
   {'username': 'Benedict White',
    'tweet_location': 'making tea',
    'tweet_text': 'RT @alexmaccaroon: “This is not just a London and Oxford problem; LTNs are being planned for Hereford, Brighton, Bath, St Andrews, Newcastl…'},
   {'username': 'Turtle Tempo',
    'tweet_location': 'London, England',
    'tweet_text': 'Only 1️⃣ month away until our all-dayer at 1UP Cafe in Brighton! ☀️\n\nWith secret headliner ‘Dutch Caramel Waffle’ 🤔… https://t.co/ggKXht9F0p'},
   {'username': 'Promise🇳🇬🇳🇬',
    'tweet_location': 'Nigeria',
    'tweet_text': 'RT @JacobsBen: Premier League announce a pre-season Summer Series in America. July 22-30 across five cities. Chelsea, Newcastle, Villa, Bre…'},
   {'username': 'Terry Hurley 🇪🇺🌹🇺🇦',
    'tweet_location': 'Sussex, England',
    'tweet_text': '@brighton_photo @BrightonMuseums @TheKeepArchives @Love_Brighton @VisitSEEngland @jessops @NPhotomag @OPOTY… https://t.co/3U6P1bhFct'},
   {'username': 'Ilesanmi _jr',
    'tweet_location': '',
    'tweet_text': 'RT @PeakSanti: Some are wasting away in bottom half of the table, some are in a top 4 race with Brighton.. My boys are giving city into pan…'},
   {'username': 'Kiki Chelsea🇬🇭💙⚽️',
    'tweet_location': '',
    'tweet_text': 'RT @BobbyVincentFL: 🚨 Chelsea will play Brighton, Newcastle United and Fulham in pre-season friendlies in Philadelphia, Atlanta and Landove…'}]},
 {'hashtag': 'ARSBHA',
  'tweets': [{'username': 'Dolly foden',
    'tweet_location': 'United Kingdom',
    'tweet_text': 'Arsenal vs Brighton tickets is available \n#arsenal #brighton #ARSBHA #arsenal_tickets can be sent via membership or… https://t.co/UoI120KQyy'},
   {'username': 'McCle',
    'tweet_location': '',
    'tweet_text': 'Arsenal vs Brighton tickets is available \n#arsenal #brighton #ARSBHA #arsenal_tickets can be sent via membership or… https://t.co/PVCMoVE8OM'},
   {'username': 'Afcm☄️☄️',
    'tweet_location': 'England, United Kingdom',
    'tweet_text': 'Arsenal vs Brighton tickets is available \n#arsenal #brighton #ARSBHA #arsenal_tickets can be sent via membership or… https://t.co/Jib7yNQmZz'},
   {'username': 'Dolly foden',
    'tweet_location': 'United Kingdom',
    'tweet_text': 'Arsenal vs Brighton tickets is available \n#arsenal #brighton #ARSBHA #arsenal_tickets can be sent via membership or… https://t.co/I1p9I8FbL1'},
   {'username': 'Marvel James',
    'tweet_location': '',
    'tweet_text': 'RT @marveljtickets: All Arsenal Home Tickets Is Available For Sales!!! Message me if you need them, serious buyer please 🙏\n#Arsenal_tickets…'},
   {'username': 'Marvel James',
    'tweet_location': '',
    'tweet_text': 'All Arsenal Home Tickets Is Available For Sales!!! Message me if you need them, serious buyer please 🙏… https://t.co/vSIiII9zyP'},
   {'username': 'Dolly foden',
    'tweet_location': 'United Kingdom',
    'tweet_text': 'Arsenal vs Brighton tickets is available \n#arsenal #brighton #ARSBHA #arsenal_tickets can be sent via membership or… https://t.co/x8n4IHb9sq'},
   {'username': 'Dolly foden',
    'tweet_location': 'United Kingdom',
    'tweet_text': 'Arsenal vs Brighton tickets is available \n#arsenal #brighton #ARSBHA #arsenal_tickets can be sent via membership or… https://t.co/vSizhJb3cU'},
   {'username': 'Gary filed Tickets',
    'tweet_location': 'United Kingdom',
    'tweet_text': 'Arsenal vs Southampton tickets is available #arsenal #Southampton #arsenal_tickets #gooner #COYG #soton… https://t.co/B3BLJF8GIT'},
   {'username': 'Dolly foden',
    'tweet_location': 'United Kingdom',
    'tweet_text': 'Arsenal vs Brighton tickets is available \n#arsenal #brighton #ARSBHA #arsenal_tickets can be sent via membership or… https://t.co/iq5DrmORwJ'}]},
 {'hashtag': 'arsenal_tickets',
  'tweets': [{'username': 'Bobby Chakraborty',
    'tweet_location': 'Hackney',
    'tweet_text': 'RT @Stillmanator: Arsenal sold 8,000 of these within 24 hrs of the Bayern game- putting tickets on sale at the final whistle of that game k…'},
   {'username': 'unknownuser___6',
    'tweet_location': '',
    'tweet_text': '@gotothemayor @AST_arsenal @gunnerblog Phone up the box office , theyll issue a refund and resell tickets'},
   {'username': '™️',
    'tweet_location': 'England, United Kingdom',
    'tweet_text': 'Selling 3x Arsenal v Chelsea tickets for 29th April .seated together,Can transfer to membership.Available to transf… https://t.co/CWeL8jyDhe'},
   {'username': 'cutekelly queen of the wolves 💚',
    'tweet_location': '',
    'tweet_text': 'Tim Stillman 🐺👸\nsold 36,000 tickets YEY 😂😂😂😂😂 👸\nArsenal Vs vfl wolfsburg . semi final uwcl 🐺\nbe ready judo player L… https://t.co/dXylGLGgwK'},
   {'username': 'matt',
    'tweet_location': '',
    'tweet_text': '@Col215 @AST_arsenal Hi mate, sorry to hear that. Is there any chance I could purchase one of the tickets from you please?'},
   {'username': 'Gooner_86 🇦🇪',
    'tweet_location': '',
    'tweet_text': 'RT @Harry2671: @arsenal I am more than happy to provide you all of mine and family ID, proof of address and IP address and all to attend in…'},
   {'username': 'Stella Anderson',
    'tweet_location': 'England, United Kingdom',
    'tweet_text': 'Hey selling tickets to the game West Ham united vs Arsenal got proof of purchase \nSend me a dm if interested cheers'},
   {'username': 'Ryan Smetton',
    'tweet_location': '',
    'tweet_text': 'Selling 2 Arsenal Vs Wolves tickets\n\n£90 each\n\nFirst come first served'},
   {'username': 'Ryan Smetton',
    'tweet_location': '',
    'tweet_text': 'Selling 2 Arsenal vs Southampton tickets\n\n£55 each \nGenuine arsenal fans only'},
   {'username': 'Ryan Smetton',
    'tweet_location': '',
    'tweet_text': 'Selling 2 Arsenal vs Chelsea tickets\n\n£75 each (home end)\n\nGenuine arsenal fans only'}]},
 {'hashtag': 'AFC',
  'tweets': [{'username': 'UKEME \uea00',
    'tweet_location': 'SUBSCRIBE TO MY NEWSLETTER 👇',
    'tweet_text': '@AFC_Fazeel And the very best is at the top'},
   {'username': 'ElZarco',
    'tweet_location': 'Chicago, IL',
    'tweet_text': "RT @btsportfootball: Hollywood couldn't write a better script ✨\n\nThe most anticipated match in @TheVanaramaNL history as @Wrexham_AFC took…"},
   {'username': 'Humayun🇵🇰',
    'tweet_location': 'London, England',
    'tweet_text': '@PatrickTimmons1 @afc_nelson Signing him was one of the best things we’ve done ✅'},
   {'username': 'Conor McCann',
    'tweet_location': '',
    'tweet_text': 'RT @ShanklysBoys1: Arteta wears a 97 badge. Their fans observe a silence impeccably. Vidoes of North London pubs obseving the silence. In m…'},
   {'username': 'Lab Gooner 🇲🇼🇿🇲',
    'tweet_location': 'Africa, Malawi, Zomba, Mpunga',
    'tweet_text': 'Tudikira basi. Looking forward to it. https://t.co/tP4bcMKL5N'},
   {'username': '/🏆Arsenal 🏆Autistics/ 🏆John Gooner👊',
    'tweet_location': 'London, England',
    'tweet_text': 'Liverpool v Arsenal 2-2 | ARSENAL FOOTBALL CLUB NEWS TODAY #livars #afc ... https://t.co/pZQEhYRbgW via @YouTube'},
   {'username': 'Neo Anderson',
    'tweet_location': '',
    'tweet_text': '@afc_cat @MongelineD @AfcGabeast @obez2012 Ignorant to say that the manager is not important.  They were scoring le… https://t.co/jLzAWuMjXe'},
   {'username': 'Hinckley AFC Mega fan',
    'tweet_location': '',
    'tweet_text': 'Goal. Surely this can’t happen…\n\nHandsworth 4-2 Hinckley AFC\n\n#FM23 ❤️💙 https://t.co/TBH7MbQavm'},
   {'username': 'Fernando Pereira',
    'tweet_location': 'Macclenny, FL',
    'tweet_text': '@Official_NCFC @Wrexham_AFC Well said.'},
   {'username': 'Sammy',
    'tweet_location': '',
    'tweet_text': 'RT @adamkeys_: People are using this picture as a way to knock Zinchnko. Few players have his mentality and he will be back on the #Arsenal…'}]},
 {'hashtag': 'ArsenalFC',
  'tweets': [{'username': 'Sock Council',
    'tweet_location': 'Newcastle upon Tyne',
    'tweet_text': '🔴⚪️ Thomas socks now £5.99 per pair! \n\nhttps://t.co/nxNVwD2RN2\n\n#AFC #ArsenalFC https://t.co/H9U5fK0kVJ'},
   {'username': 'Raissa Mukadam',
    'tweet_location': 'Santo domingo ',
    'tweet_text': 'I’m selling my 2x tickets for  the Arsenal vs Southampton game,seated together at the Emirates stadium..kindly Dm… https://t.co/T4wrxg1AEK'},
   {'username': '80s&90sFootball ⚽ 🏴\U000e0067\U000e0062\U000e0065\U000e006e\U000e0067\U000e007f 🇺🇦',
    'tweet_location': 'England, United Kingdom',
    'tweet_text': "RT @WPDigital2: Huge thanks to @CollieArsenal for the suggestion of my latest design: #Gunners, it's your Man, your legend... Robert Pires!…"},
   {'username': 'A....',
    'tweet_location': 'United Kingdom',
    'tweet_text': "I got 2x tickets for the Arsenal vs Southampton game,seated together at the Emirates stadium..i and my mate can't m… https://t.co/BnAnjuHod9"},
   {'username': 'Annika Ericsson #COYG',
    'tweet_location': 'London, England',
    'tweet_text': 'RT @LukeJ2615: 2x Arsenal v Chelsea ticket LOWER BLOCK FOR SELL. DM IF INTERESTED. #AfcTickets #Afc #ArsenalFC #ArsenalTickets'},
   {'username': 'Luke Jones',
    'tweet_location': '',
    'tweet_text': '2x Arsenal v Chelsea ticket LOWER BLOCK FOR SELL. DM IF INTERESTED. #AfcTickets #Afc #ArsenalFC #ArsenalTickets'},
   {'username': 'When Football Was Better',
    'tweet_location': '',

In [ ]:
tweets = tweepy.Cursor(api.search_tweets, q = hashtag['text'], lang='en').items(10)
    for tweet in tweets:
        hashtagsdata[hashtag['text']].append({'username': tweet.user.name, 'tweet_location': tweet.user.location, 'tweet_text': tweet.text})